<div class="container-fluid">

  <form>
  <div class="row">
    <div class="form-group col-2">
      <label for="pickupDate">Load tours from :</label>
      <input class="form-control form-control-sm" id="pickupDate" type="date" name="tourMinDate" [(ngModel)]="tourMinDate">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-2 col-offset-1">  
      <div class="form-actions">
          <button (click)="loadTours()" class="btn btn-sm btn-primary btn-block"><i class="fa fa-dot-circle-o"></i> Load tours</button>
      </div>
    </div>
  </div>
  </form>
  <hr>
  <div class="row" style="padding-top:5%; padding-bottom:5%;">
    <div class="col-md-8">
      <div class="form-check-inline">
        <label class="form-check-label" for="radio1">
        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" 
         (change)="chooseCompanyTrucks($event)" checked>Company tours
      </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label" for="radio2">
          <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2" 
          (change)="chooseClientTrucks($event)">Client tours
        </label>
      </div>
      <div class="form-check-inline">
        <label class="form-check-label">
          <input type="radio" class="form-check-input" name="optradio" value="option3" 
           (change)="chooseAllTrucks($event)">All
        </label>
      </div>
    </div>
  </div>



  <app-customtable 
    id="tourOverviewTableAll"
    [data]="tourOverviews" 
    [columns]="columnNames" 
    [keys]="keys"
    [parrentComponent]="parrentComponent"
    [loadLdmPercentage]="loadLdmPercentageAll" 
    [loadLdmStyles]="loadLdmStylesAll" 
    (clickedLoad)="loadClicked($event)"
    (clickedLoadAdd)="loadAddClicked($event)"
    (clickedClosedTour)="closeTourClicked($event)">
  </app-customtable>

  <!--<app-customtable 
    id="tourOverviewTableCompany"
    [data]="tourOverviewCompany" 
    [columns]="columnNames" 
    [keys]="keys"
    [parrentComponent]="parrentComponent"
    [loadLdmPercentage]="loadLdmPercentageCompany" 
    [loadLdmStyles]="loadLdmStylesCompany" 
    (clickedLoad)="loadClicked($event)"
    (clickedLoadAdd)="loadAddClicked($event)"
    (clickedClosedTour)="closeTourClicked($event)"
    [ngStyle]="{'display':companyTrucks ? 'block' : 'none'}">
  </app-customtable>

  <app-customtable 
    id="tourOverviewTableClient"
    [data]="tourOverviewClient" 
    [columns]="columnNames" 
    [keys]="keys"
    [parrentComponent]="parrentComponent"
    [loadLdmPercentage]="loadLdmPercentageClient" 
    [loadLdmStyles]="loadLdmStylesClient" 
    (clickedLoad)="loadClicked($event)"
    (clickedLoadAdd)="loadAddClicked($event)"
    (clickedClosedTour)="closeTourClicked($event)"
    [ngStyle]="{'display':clientTrucks ? 'block' : 'none'}">
  </app-customtable>-->


  <!-- #########################   View Button modal   #############################-->


  <button id="loadsModalButton" data-toggle="modal" (click)="largeModal.show()" hidden>OPEN MODAL</button>
  <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Tour details</h4>
          <button type="button" id="loadsModalButtonHide" class="close" (click)="largeModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid col-12 text-center">
            <form class="form-horizontal">
              <div class="row">
                <!-- Driver -->
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="prependedInput">Driver</label>
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <input class="form-control" size="16" type="text" value="{{ tourForOverview.tour_id }}" #idUpdate hidden>
                      <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.driver_full_name }}" #driver disabled>
                    </div>
                  </div>
                </div>
                <!-- Truck -->
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="appendedInput">Truck</label>
                  <div class="controls">
                    <div class="input-group">
                      <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.truck_registration }}" #truck disabled>
                    </div>
                  </div>
                </div>
                <!-- Trailer -->
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="appendedInput">Trailer</label>
                  <div class="controls">
                    <div class="input-group">
                      <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.trailer_registration }}" #trailer disabled>
                    </div>
                  </div>
                </div>
              </div>  <!--row-->  

              <div class="row">
                <!-- Tour LDM -->
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="prependedInput">Tour LDM</label>
                  <div class="controls">
                    <div class="input-prepend input-group">
                      <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.ldm }}" #driver disabled>
                    </div>
                  </div>
                </div>
                <!-- Weight sum -->
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="appendedInput">Weight SUM</label>
                  <div class="controls">
                    <div class="input-group">
                      <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.weight }}" #truck disabled>
                    </div>
                  </div>
                </div>
                <!-- Price sum -->
                <div class="form-group col-md-4">
                  <label class="col-form-label" for="appendedInput">Price SUM</label>
                  <div class="controls">
                    <div class="input-group">
                      <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.price }}" #trailer disabled>
                    </div>
                  </div>
                </div>
              </div>  <!--row-->   

              <div class="row">
                <div class="col-sm-12">
                  <table class="table table-condensed table-bordered table-hover" style="font-size:10px; margin-top:4%;">
                    <thead class="thead-dark">
                      <tr>
                        <th *ngFor="let column of columnNamesLoads; let i = index">{{ column }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let load of loadsPerTour; let i = index;" [ngClass]="{'table-info': load.invoice == true}">
                        <td>{{i + 1}}</td>
                        <td *ngFor="let key of keysLoads">
                          <span *ngIf="(key != 'flag1') && (key != 'flag2')">{{ load[key] }}</span>
                           <span *ngIf="(key == 'flag1') || (key == 'flag2')">
                            <i class="flag-icon flag-icon-{{ load[key] }} mb-0" [ngClass]="{'h4': key == 'flag', 'h5': (key == 'flag1') || (key == 'flag2') }"></i>
                          </span>
                        </td> 
                        <td>
                          <button class="btn btn-sm btn-light" style="display:block; margin:auto;" (click)="invoiceClicked(i)"><i class="fa fa-file-text-o"></i></button>
                        </td> 
                        <td>
                          <button class="btn btn-sm btn-light" style="display:block; margin:auto;" (click)="editClicked(i)"><i class="fa fa-edit"></i></button>
                        </td>    
                        <td>
                          <button class="btn btn-sm btn-danger" style="display:block; margin:auto;" (click)="deleteClicked(i)"><i class="fa fa-close"></i></button>
                        </td>      
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </form>

            <!--<div class="row">
              <div class="col-sm-2">
                <button class="btn btn btn-basic" id="invoiceReady"
                  (click)="invoiceReadyClicked()" 
                  [disabled]="invoiceNotReady()">Invoice Ready <i class="fa fa-share"></i>
                </button>                  
              </div>
              <div class="col-sm-2">
                <button class="btn btn btn-basic" id="invoiceCancel"
                  (click)="invoiceCancelClicked()" 
                  [disabled]="!invoiceNotReady()">Cancel Invoice <i class="fa fa-reply"></i>
                </button>
              </div>
            </div>-->
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
          <!--<button type="button" class="btn btn-primary" 
            (click)="largeModal.hide();updateDriver(idUpdate.value, nameUpdate.value, familyNameUpdate.value, passportNumberUpdate.value,
            phoneUpdate.value, cmrUpdate.value, companyUpdate.value)">Save changes
          </button>-->
        </div>
      </div>
    </div>
  </div>

  <!-- #########################   Add Button modal   #############################-->

  <button id="loadsModalAddButton" data-toggle="modal" (click)="largeModalLoadAdd.show()" hidden>OPEN MODAL</button>
  <div bsModal #largeModalLoadAdd="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add load</h4>
          <button type="button" id="loadsModalAddButtonHide" class="close" (click)="largeModalLoadAdd.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid col-10 text-center">

            <div class="row">
              <div class="form-group col-md-4">
                <label class="col-form-label" for="prependedInput">Driver</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <input class="form-control" size="16" type="text" value="{{ tourForOverview.tour_id }}" #idUpdate hidden>
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.driver_full_name }}" #driver disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label" for="appendedInput">Truck</label>
                <div class="controls">
                  <div class="input-group">
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.truck_registration }}" #truck disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label" for="appendedInput">Trailer</label>
                <div class="controls">
                  <div class="input-group">
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.trailer_registration }}" #trailer disabled>
                  </div>
                </div>
              </div>
            </div>  <!--row-->  

            <div class="row">
              <div class="form-group col-md-4">
                <label class="col-form-label" for="prependedInput">Tour LDM</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.ldm }}" #driver disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label" for="appendedInput">Weight SUM</label>
                <div class="controls">
                  <div class="input-group">
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.weight }}" #truck disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label" for="appendedInput">Price SUM</label>
                <div class="controls">
                  <div class="input-group">
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.price }}" #trailer disabled>
                  </div>
                </div>
              </div>
            </div>  <!--row-->   
            
            <div class="container-fluid text-left" style="border: 1px solid #efefef; padding:2%;">
              <form class="form-horizontal" (ngSubmit)="addLoad()">
                <div class="row">
                  <div class="form-group col-2 offset-1">
                    <!-- Goods -->
                    <label for="ldm">Goods *</label>
                    <input type="hidden" id="tourId" name="tourId" [(ngModel)]="tourId">
                    <input type="text" class="form-control form-control-sm" id="goods" name="goods" [(ngModel)]="goods" required>
                  </div>
                  <!-- LDM -->        
                  <div class="form-group col-2">
                    <label for="ldm">LDM *</label>
                    <input type="number" class="form-control form-control-sm" id="ldm" name="ldm" [(ngModel)]="ldm" required>
                  </div>
                  <!-- weight -->
                  <div class="form-group col-2">
                    <label for="weight">Weight *</label>
                    <input type="number" class="form-control form-control-sm" id="weight" name="weight" [(ngModel)]="weight" required>
                  </div>
                  <!-- number of palets(colets) -->
                  <div class="form-group col-2">
                    <label for="palets">Kolets</label>
                    <input type="number" class="form-control form-control-sm" id="palets" name="palets" [(ngModel)]="kolets">
                  </div>
                  <!-- Price -->        
                  <div class="form-group col-2">
                    <label for="price">Price</label>
                    <input type="number" class="form-control form-control-sm" id="price" name="price" [(ngModel)]="price">
                  </div>                              
                </div>

                <div class="row">                 
                  <!-- Client -->
                  <div class="form-group col-2 offset-1">
                    <label for="exampleFormControlSelect2">Client:</label>
                    <select class="form-control form-control-sm" name="clientSelect" [(ngModel)]="selectedClientId" (ngModelChange)="onClientChange($event)">
                      <option style="display:none;"></option>
                      <option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</option>
                    </select>
                  </div>
                  <!-- client ref -->
                  <div class="form-group col-2">
                    <label for="clientRef">Client Ref</label>
                    <input type="text" class="form-control form-control-sm" id="clientRef" name="clientRef" [(ngModel)]="clientRef">
                  </div>
                </div>
                
                <hr>

                <div class="row">
                  <!-- Pickup state -->             
                  <div class="form-group col-2 offset-1">
                    <label for="pickupState">Pickup state</label>
                    <select class="form-control form-control-sm" name="pickupStateSelect" [(ngModel)]="selectedPickupStateId" (ngModelChange)="onPickupStateChange($event)">
                      <option style="display:none;"></option>
                      <option *ngFor="let state of states" [value]="state.id">
                        {{ state.state }}
                      </option>
                    </select>
                  </div>
                  <!-- Pickup city -->              
                  <div class="form-group col-2">
                    <label for="pickupCity">Pickup city *</label>
                    <select class="form-control form-control-sm" name="pickupCitySelect" [(ngModel)]="selectedPickupCityId" (ngModelChange)="onPickupCityChange($event)">
                      <option style="display:none;"></option>
                      <option *ngFor="let pickupCity of pickupCities" [value]="pickupCity.id">
                        {{ pickupCity.city }}
                      </option>
                    </select>
                  </div>
                  <!-- Pickup zip code -->             
                  <div class="form-group col-2">
                    <label for="pickupZip">ZIP *</label>
                    <input type="number" class="form-control form-control-sm" id="pickupZip" name="zip1" [(ngModel)]="zip1" required>
                  </div>             
                  <!-- Pickup date -->
                  <div class="form-group col-2">
                    <label for="pickupDate">Pickup Date</label>
                    <input class="form-control form-control-sm" id="pickupDate" type="date" name="pickupDate" [(ngModel)]="pickupDate">
                  </div>
                  <!-- Exporter -->             
                  <div class="form-group col-2">
                    <label for="exporter">Exporter</label>
                    <input type="text" class="form-control form-control-sm" id="exporter" name="exporter" [(ngModel)]="exporter">
                  </div>             
                </div>

                <div class="row">
                  <!-- Delivery state -->             
                  <div class="form-group col-2 offset-1">
                    <label for="deliveryState">Delivery state</label>
                    <select class="form-control form-control-sm" name="deliveryStateSelect" [(ngModel)]="selectedDeliveryStateId" (ngModelChange)="onDeliveryStateChange($event)">
                      <option style="display:none;"></option>
                      <option *ngFor="let state of states" [value]="state.id">
                        {{ state.state }}
                      </option>
                    </select>
                  </div>
                  <!-- Delivery city -->
                  <div class="col-2">
                    <div class="form-group">
                      <label for="deliveryCity">Delivery city</label>
                      <select class="form-control form-control-sm" name="deliveryCitySelect" [(ngModel)]="selectedDeliveryCityId" (ngModelChange)="onDeliveryCityChange($event)">
                      <option style="display:none;"></option>
                      <option *ngFor="let deliveryCity of deliveryCities" [value]="deliveryCity.id">
                        {{ deliveryCity.city }}
                      </option>
                    </select>
                    </div>
                  </div>
                  <!-- delivery zip -->
                  <div class="col-2">
                    <div class="form-group">
                      <label for="deliveryZip">ZIP</label>
                      <input type="number" class="form-control form-control-sm" id="deliveryZip" name="zip2" [(ngModel)]="zip2">
                    </div>
                  </div>
                  <!-- delivery date -->
                  <div class="form-group col-2">
                    <label for="deliveryDate">Delivery Date</label>
                    <input class="form-control form-control-sm" id="deliveryDate" type="date" name="deliveryDate" [(ngModel)]="deliveryDate">    
                  </div> 
                  <!-- Importer -->             
                  <div class="form-group col-2">
                    <label for="importer">Importer</label>
                    <input type="text" class="form-control form-control-sm" id="importer" name="importer" [(ngModel)]="importer">
                  </div>             
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Add Load</button>
                  <!--<button class="btn btn-sm btn-secondary" type="button" (click)="largeModalLoadAdd.hide()">Cancel</button>-->
                </div>
              </form>
            </div>
          </div>
        </div> <!-- modal body -->

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="largeModalLoadAdd.hide()">Close</button>
          <!--<button type="button" class="btn btn-primary" 
            (click)="largeModalLoadAdd.hide();updateDriver(idUpdate.value, nameUpdate.value, familyNameUpdate.value, passportNumberUpdate.value,
            phoneUpdate.value, cmrUpdate.value, companyUpdate.value)">Save changes
          </button>-->
        </div>
      </div>
    </div>
  </div>

  <!-- #########################   Edit Button modal   #############################-->


  <button id="loadsModalEditButton" data-toggle="modal" (click)="largeModalLoadEdit.show()" hidden>OPEN MODAL</button>
  <div bsModal #largeModalLoadEdit="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit load</h4>
          <button type="button" class="close" (click)="largeModalLoadEdit.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid col-10 text-center">

            <div class="row">
              <div class="form-group col-md-4">
                <label class="col-form-label" for="prependedInput">Driver</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <input class="form-control" size="16" type="text" value="{{ tourForOverview.tour_id }}" #idUpdate hidden>
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.driver_full_name }}" #driver disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label" for="appendedInput">Truck</label>
                <div class="controls">
                  <div class="input-group">
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.truck_registration }}" #truck disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label" for="appendedInput">Trailer</label>
                <div class="controls">
                  <div class="input-group">
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.trailer_registration }}" #trailer disabled>
                  </div>
                </div>
              </div>
            </div>  <!--row-->  

            <div class="row">
              <div class="form-group col-md-4">
                <label class="col-form-label" for="prependedInput">Tour LDM</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.ldm }}" #driver disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label" for="appendedInput">Weight SUM</label>
                <div class="controls">
                  <div class="input-group">
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.weight }}" #truck disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label" for="appendedInput">Price SUM</label>
                <div class="controls">
                  <div class="input-group">
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.price }}" #trailer disabled>
                  </div>
                </div>
              </div>
            </div>  <!--row-->   
            
            <div class="container-fluid text-left" style="border: 1px solid #efefef; padding:2%;">
              <form class="form-horizontal" (ngSubmit)="editLoad();largeModalLoadEdit.hide();largeModal.hide();">
                <div class="row">
                  <div class="form-group col-2 offset-1">
                    <!-- Goods -->
                    <label for="ldm">Goods *</label>
                    <input type="hidden" id="loadId" name="loadId" [(ngModel)]="loadForEdit.id">
                    <input type="text" class="form-control form-control-sm" id="goodsLoadEdit" name="goodsLoadEdit" [(ngModel)]="loadForEdit.goods" required>
                  </div>
                  <!-- LDM -->        
                  <div class="form-group col-2">
                    <label for="ldm">LDM *</label>
                    <input type="number" class="form-control form-control-sm" id="ldmLoadEdit" name="ldmLoadEdit" [(ngModel)]="loadForEdit.ldm" required>
                  </div>
                  <!-- weight -->
                  <div class="form-group col-2">
                    <label for="weight">Weight *</label>
                    <input type="number" class="form-control form-control-sm" id="loadWeightEdit" name="loadWeightEdit" [(ngModel)]="loadForEdit.weight" required>
                  </div>
                  <!-- number of palets(colets) -->
                  <div class="form-group col-2">
                    <label for="kolets">Kolets</label>
                    <input type="number" class="form-control form-control-sm" id="loadKoletsEdit" name="loadKoletsEdit" [(ngModel)]="loadForEdit.kolets">
                  </div>
                  <!-- Price -->        
                  <div class="form-group col-2">
                    <label for="price">Price</label>
                    <input type="number" class="form-control form-control-sm" id="loadPriceEdit" name="loadPriceEdit" [(ngModel)]="loadForEdit.price">
                  </div>                              
                </div>

                <div class="row">                 
                  <!-- Client -->
                  <div class="form-group col-2 offset-1">
                    <label for="exampleFormControlSelect2">Client:</label>
                    <select class="form-control form-control-sm" name="loadClientSelectEdit" [(ngModel)]="loadForEdit.client_name" (ngModelChange)="onClientChange($event)">
                      <option style="display:none;"></option>
                      <option *ngFor="let client of clients" [value]="client.id">{{ client.name }}</option>
                    </select>
                  </div>
                  <!-- client ref -->
                  <div class="form-group col-2">
                    <label for="clientRef">Client Ref</label>
                    <input type="text" class="form-control form-control-sm" id="loadClientRefEdit" name="loadClientRefEdit" [(ngModel)]="loadForEdit.client_ref">
                  </div>
                </div>
                
                <hr>

                <div class="row">
                  <!-- Pickup state -->             
                  <div class="form-group col-2 offset-1">
                    <label for="pickupState">Pickup state</label>
                    <select class="form-control form-control-sm" name="loadPickupStateSelectEdit" [(ngModel)]="loadForEdit.flag1" (ngModelChange)="onPickupStateChange($event)">
                      <option style="display:none;"></option>
                      <option *ngFor="let state of states" [value]="state.id">
                        {{ state.state }}
                      </option>
                    </select>
                  </div>
                  <!-- Pickup city -->              
                  <div class="form-group col-2">
                    <label for="pickupCity">Pickup city *</label>
                    <select class="form-control form-control-sm" name="loadPickupCitySelectEdit" [(ngModel)]="loadForEdit.pickup_city" (ngModelChange)="onPickupCityChange($event)">
                      <option style="display:none;"></option>
                      <option *ngFor="let pickupCity of pickupCities" [value]="pickupCity.id">
                        {{ pickupCity.city }}
                      </option>
                    </select>
                  </div>
                  <!-- Pickup zip code -->             
                  <div class="form-group col-2">
                    <label for="pickupZip">ZIP *</label>
                    <input type="number" class="form-control form-control-sm" id="loadPickupZipEdit" name="loadPickupZipEdit" [(ngModel)]="loadForEdit.zip1" required>
                  </div>             
                  <!-- Pickup date -->
                  <div class="form-group col-2">
                    <label for="pickupDate">Pickup Date</label>
                    <input class="form-control form-control-sm" id="loadPickupDateEdit" type="date" name="loadPickupDateEdit" [(ngModel)]="loadForEdit.pickup_date">
                  </div>
                  <!-- Exporter -->             
                  <div class="form-group col-2">
                    <label for="exporter">Exporter</label>
                    <input type="text" class="form-control form-control-sm" id="loadExporterEdit" name="loadExporterEdit" [(ngModel)]="loadForEdit.exporter">
                  </div>             
                </div>

                <div class="row">
                  <!-- Delivery state -->             
                  <div class="form-group col-2 offset-1">
                    <label for="deliveryState">Delivery state</label>
                    <select class="form-control form-control-sm" name="loadDeliveryStateSelectEdit" [(ngModel)]="loadForEdit.flag2" (ngModelChange)="onDeliveryStateChange($event)">
                      <option style="display:none;"></option>
                      <option *ngFor="let state of states" [value]="state.id">
                        {{ state.state }}
                      </option>
                    </select>
                  </div>
                  <!-- Delivery city -->
                  <div class="col-2">
                    <div class="form-group">
                      <label for="deliveryCity">Delivery city</label>
                      <select class="form-control form-control-sm" name="loadDeliveryCitySelectEdit" [(ngModel)]="loadForEdit.delivery_city" (ngModelChange)="onDeliveryCityChange($event)">
                      <option style="display:none;"></option>
                      <option *ngFor="let deliveryCity of deliveryCities" [value]="deliveryCity.id">
                        {{ deliveryCity.city }}
                      </option>
                    </select>
                    </div>
                  </div>
                  <!-- delivery zip -->
                  <div class="col-2">
                    <div class="form-group">
                      <label for="deliveryZip">ZIP</label>
                      <input type="number" class="form-control form-control-sm" id="loadDeliveryZipEdit" name="loadDeliveryZipEdit" [(ngModel)]="loadForEdit.zip2">
                    </div>
                  </div>
                  <!-- delivery date -->
                  <div class="form-group col-2">
                    <label for="deliveryDate">Delivery Date</label>
                    <input class="form-control form-control-sm" id="loadDeliveryDateEdit" type="date" name="loadDeliveryDateEdit" [(ngModel)]="loadForEdit.delivery_date">    
                  </div> 
                  <!-- Importer -->             
                  <div class="form-group col-2">
                    <label for="importer">Importer</label>
                    <input type="text" class="form-control form-control-sm" id="loadImporterEdit" name="loadImporterEdit" [(ngModel)]="loadForEdit.importer">
                  </div>             
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Edit Load</button>
                  <!--<button class="btn btn-sm btn-secondary" type="button" (click)="largeModalLoadAdd.hide()">Cancel</button>-->
                </div>
              </form>
            </div>
          </div>
        </div> <!-- modal body -->

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="largeModalLoadEdit.hide()">Close</button>
          <!--<button type="button" class="btn btn-primary" 
            (click)="largeModalLoadAdd.hide();updateDriver(idUpdate.value, nameUpdate.value, familyNameUpdate.value, passportNumberUpdate.value,
            phoneUpdate.value, cmrUpdate.value, companyUpdate.value)">Save changes
          </button>-->
        </div>
      </div>
    </div>
  </div>

<!-- #########################   Invoice modal   #############################-->

  <button id="invoiceModalButton" data-toggle="modal" (click)="invoiceModal.show()" hidden>OPEN MODAL</button>
  <div bsModal #invoiceModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Invoice</h4>
          <button type="button" class="close" (click)="invoiceModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid col-10 text-center">

            <div class="row">
              <div class="form-group col-md-4">
                <label class="col-form-label" for="prependedInput">Driver</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <input class="form-control" size="16" type="text" value="{{ tourForOverview.tour_id }}" #idUpdate hidden>
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.driver_full_name }}" #driver disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label" for="appendedInput">Truck</label>
                <div class="controls">
                  <div class="input-group">
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.truck_registration }}" #truck disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label" for="appendedInput">Trailer</label>
                <div class="controls">
                  <div class="input-group">
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.trailer_registration }}" #trailer disabled>
                  </div>
                </div>
              </div>
            </div>  <!--row-->  

            <div class="row">
              <div class="form-group col-md-4">
                <label class="col-form-label" for="prependedInput">Tour LDM</label>
                <div class="controls">
                  <div class="input-prepend input-group">
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.ldm }}" #driver disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label" for="appendedInput">Weight SUM</label>
                <div class="controls">
                  <div class="input-group">
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.weight }}" #truck disabled>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label class="col-form-label" for="appendedInput">Price SUM</label>
                <div class="controls">
                  <div class="input-group">
                    <input class="form-control form-control-sm text-center" size="16" type="text" value="{{ tourForOverview.price }}" #trailer disabled>
                  </div>
                </div>
              </div>
            </div>  <!--row-->   
            
            <div class="container-fluid text-left" style="border: 1px solid #efefef; padding:2%;">
              <form class="form-horizontal" (ngSubmit)="saveInvoice();invoiceModal.hide();">
                <div class="row" style="padding-top:10%;">
                  <div class="form-group col-md-4 offset-4">
                    <label class="col-form-label" for="appendedInput">Invoice number</label>
                    <div class="controls">
                      <div class="input-group">
                        <input class="form-control form-control-sm text-center" size="16" type="text" name="invoice_number" [(ngModel)]="loadForEdit.invoice_number">
                      </div>
                    </div>
                  </div>                              
                </div>
                <div class="row" style="padding-top:10%;">
                <div class="form-group col-md-4">
                    <div class="form-actions">
                      <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Save Invoice</button>
                      <!--<button class="btn btn-sm btn-secondary" type="button" (click)="largeModalLoadAdd.hide()">Cancel</button>-->
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div> <!-- modal body -->

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="invoiceModal.hide()">Close</button>
          <!--<button type="button" class="btn btn-primary" 
            (click)="largeModalLoadAdd.hide();updateDriver(idUpdate.value, nameUpdate.value, familyNameUpdate.value, passportNumberUpdate.value,
            phoneUpdate.value, cmrUpdate.value, companyUpdate.value)">Save changes
          </button>-->
        </div>
      </div>
    </div>
  </div>



</div> <!-- container -->


<!--<p>Ovde od podataka ide:
  vozac,
  registracija kamiona,
  registracija prikolice,
  zastavica drzave utovara,
  samo POSLEDNJI grad utovara,
  zip code poslednjeg utovarnog grada,
  ldm (duzinski metri),
  tezina.
  
  Trebalo bi da ovo lagano staje u jedan red tabele.
  Gledao sam da izbegnem grananje u tabeli zbog preglednosti,
  njima je najbitnije da vide poslednji grad utovara jer na osnovu toga mogu da znaju gde im je kamion
  pa mogu da traze sledeci utovar</p>-->
